.page.theme_dark {
  --bg-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-color-rgb: 255, 0, 112;
  --text-color: #f1b2ce;
  --text-color-rgb: 241, 178, 206;
  --main-background-picture: url(../images/cover-image-dark.png);
}