.page.theme_dark {
  --bg-color: #000028;
  --header-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --menu-section-color: #ff0070;
  --menu-section-color-rgb: 255, 0, 112;
  --text-color: #f1b2ce;
  --main-background-picture: url(../images/cover-image-dark.png);
  --rec-decoration-visible: flex;
}
