.page.theme_light {
  --bg-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-color-rgb: 255, 141, 203;
  --text-color: #353430;
  --text-color-rgb: 53, 52, 48;
  --main-background-picture: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-color-rgb: 255, 141, 203;
    --text-color: #353430;
    --text-color-rgb: 53, 52, 48;
    --main-font: "IBM Plex mono";
    --main-background-picture: url(../images/cover-image-light.png);
  }
}