.page.theme_light {
  --bg-color: #fff1f7;
  --header-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --menu-section-color: #353430;
  --menu-section-color-rgb: 53, 52, 48;
  --text-color: #353430;
  --main-background-picture: url(../images/cover-image-light.png);
  --rec-decoration-visible: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --title-color: #ffc2e6;
    --header-color: #353430;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --menu-section-color: #353430;
    --menu-section-color-rgb: 53, 52, 48;
    --main-font: "IBM Plex mono";
    --main-background-picture: url(../images/cover-image-light.png);
    --rec-decoration-visible: none;
  }
}
